* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Set default REM to 10 px */
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f1f3f5;
}

.header {
  padding-top: 3.6rem;
}

/* .container {
  margin: 0 auto;
  padding: 2rem;
  width: 80rem;
  height: 30rem;
  display: flex;
  justify-content: center;
} */
.container-lg {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2.4rem;
}

.heading-primary {
  font-size: 7.6rem;
}

.dad-joke {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

.dad-img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px #333 solid;
  display: inline-block;
  padding-top: 4rem;
}

.btn {
  position: absolute;
  font-size: 3.6rem;
  max-width: 50%;
  justify-self: center;
  bottom: 4%;
  right: 50%;
  transform: translateX(50%);
}

@media (max-width: 25em) {
  .heading-primary {
    font-size: 6rem;
  }
}
